$light-bkg: #e0e0e0;
$light-box: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;

.App {
  height: 100% !important;
  background: $light-bkg;
}

.Font-Bold {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
}

.Font-Thin {
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

.App-header {
  background-color: #1f2229;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow: visible;
  z-index: 1;
  height: 10vh;
}

.Gradient-bkg {
  color: white;
  border-radius: 50px;
  background: $light-bkg;
  box-shadow: $light-box;
  // background: linear-gradient(
  //   112deg,
  //   #0d0d2a 0%,
  //   #35355b 45%,
  //   #9e9ec2 56%,
  //   #cecee2 60%,
  //   #9e9ec2 64%,
  //   #35355b 75%,
  //   #0d0d2a 100%
  // );
  // -webkit-animation: Gradient 25s ease infinite;
  // -moz-animation: Gradient 25s ease infinite;
  // animation: Gradient 25s ease infinite;
}

.App-header::after {
  content: "";
  width: 100%;
  height: 200%;
  position: absolute;
  background: inherit;
  z-index: -51;
  bottom: 0;
  transform-origin: right bottom;
  transform: skewY(-3deg);
}

.App-header-text {
  margin: 0px;
  position: relative;
  font-size: 13vh;
  mix-blend-mode: difference;
  top: 10vh;
  left: 10vh;
  color:lightcoral
}
.App-header-subtext {
  margin: 0px;
  padding-top: 5.25vh;
  text-align: right;
  color: black;
  font-size: 3vh;
  font-weight: 400;
}
.Section-header-text {
  margin-left: 4vh;
  color: #106060;
  font-size: 3vh;
  font-weight: 800;
}

.App-body {
  height: 90vh;
  overflow-y: scroll;
  padding: 0 10vh;
}
.App-body-scrollable {
  color: white;
  height: 200vh;
}

.App-link {
  color: #61dafb;
}

.Body-spacer {
  height: 12vh;
}

.Info-card {
  font-size: 2vh;
  font-weight: 400;
  text-align: justify;
  padding: 2vh;
  margin: 2vh;
  color: black;
  //background: rgba(255, 255, 255, 0.192);
  border-radius: 1vh;
  min-height: 10vh;
  //border: .25vh solid rgba(255, 255, 255, 0.698);
  //box-shadow: inset 00px 00px 1vh white;
  background: $light-bkg;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.Flex-column {
  flex: 33%;
  max-width: 33%;
}
.Flex-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1vh;
}

@media (max-width: 1000px) {
  .Flex-column {
    flex: 100%;
    max-width: 100%;
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
