$light-bkg: #e0e0e0;
$light-box: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
$light-box-mobile: 5px 2px 20px #bebebe, -20px -20px 60px #ffffff;

$pink-text: #f08080;
$green-text: #106060;
$grey-text: #808080;

$transition-time: 0.2s;

body {
  overflow: hidden
}

a {
  color: $green-text;
  transition: $transition-time;
}

a:hover {
  color: $pink-text
}

.App {
  height: 100% !important;
  background: $light-bkg;
}

.Font-Bold {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
}

.Font-Thin {
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

.App-header {
  background-color: #1f2229;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow: visible;
  z-index: 1;
  height: 75px;
}

.Gradient-bkg {
  color: $light-bkg;
  background: $light-bkg;
  box-shadow: $light-box;
  // background: linear-gradient(
  //   112deg,
  //   #0d0d2a 0%,
  //   #35355b 45%,
  //   #9e9ec2 56%,
  //   #cecee2 60%,
  //   #9e9ec2 64%,
  //   #35355b 75%,
  //   #0d0d2a 100%
  // );
  // -webkit-animation: Gradient 25s ease infinite;
  // -moz-animation: Gradient 25s ease infinite;
  // animation: Gradient 25s ease infinite;
}

.App-header::after {
  content: "";
  width: 100%;
  height: 200%;
  position: absolute;
  background: inherit;
  z-index: -51;
  bottom: 0;
  transform-origin: right bottom;
  transform: skewY(-3deg);
}

.App-header-text {
  margin: 0px;
  position: relative;
  font-size: 13vh;
  mix-blend-mode: difference;
  opacity: 90%;
  top: 10vh;
  left: 10vh;
  color: $pink-text;
  transition: 0.5s;
}

.App-header-text:hover {
  color: $green-text;
  cursor: pointer;
}

.App-header-subtext {
  margin: 0px;
  position: relative;
  top: 7vh;
  right: 3vh;
  text-align: right;
  color: black;
  font-size: xx-large;
  font-weight: 400;
}
.Section-header-text {
  color: $green-text;
  font-size: xx-large;
  font-weight: 800;
  margin: 0px;
}
.Section-header {
  margin-left: 2vh;
  display: flex;
  align-items: center;
}

.App-body {
  height: calc(100vh - 75px);
  overflow-y: scroll;
  padding: 0 10vh;
}
.App-body-scrollable {
  color: $light-bkg;
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

.Body-spacer {
  height: 15vh;
}

.Custom-list{
  list-style-type: circle;
  padding-inline-start: 25px;
}

.Custom-list li{
  margin-bottom: 10px;
  font-size: smaller;
}

.Spline-styling canvas {
  width: 50px !important;
  height: 50px !important;
}

.Info-card {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  padding: 2vh;
  margin: 2vh;
  color: black;
  //background: rgba(255, 255, 255, 0.192);
  border-radius: 1vh;
  min-height: 1vh;
  //border: .25vh solid rgba(255, 255, 255, 0.698);
  //box-shadow: inset 00px 00px 1vh white;
  background: $light-bkg;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.Info-card-header {
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: x-large
}

.Clickable {
  cursor: pointer;
}

.Clickable:hover div, .Clickable:hover div .Info-icon  {
    color: $pink-text;
    transition: $transition-time;
}

.Info-icon {
  transform: rotate(0deg);
}

.Info-icon.open {
  transform: rotate(180deg);
}

.Info-card-body{
  max-height: 1000px;
  transition: max-height 0.5s ease-out;
}

.Info-card-body.collapsed {
  max-height: 0px;
  overflow: hidden;
}

.Info-icon {
  color: $grey-text;
}

.Info-border {
  border-bottom: 1px solid lightgray;
}

.Info-card-header-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: $green-text;
}
.Info-card-header-subtitle {
  width: 100%;
  color: $grey-text;
  font-size: small;
}

.Flex-column {
  flex: 33%;
  max-width: 33%;
}
.Flex-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1vh;
}

@media (max-width: 1500px) {
  .Flex-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 1000px) {
  .Flex-column {
    flex: 100%;
    max-width: 100%;
  }
  
  .App-header-text {
    font-size: 10vw;
    top: 4vh;
    left: 4vh;
  }

  .App-header {
    height: 30px
  }
  
  .App-body {
    height: calc(100vh - 30px);
    padding: 0 1vh;
  }

  .App-header-subtext {
    display: none;
  }

  .Body-spacer {
    height: 7vh;
  }

  .Flex-row {
    padding-bottom: 100px;
  }

  .Gradient-bkg {
    box-shadow: $light-box-mobile;
  }

  .Info-card-header-title {
    flex-direction: column;
  }
  .Info-card-header-title div:last-child {
    width: 100%;
    color: $grey-text;
    font-size: small;
  }
  
  .Spline-styling canvas {
    width: 50px !important;
    height: 50px !important;
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
