$light-bkg: #e0e0e0;
$light-box: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
$light-box-mobile: 5px 2px 20px #bebebe, -20px -20px 60px #ffffff;

//https://coolors.co/beb2d4-c3e8e2-fffed8-edcc99-db995a-da7635-e24e1b-a44829-654236-1b110e
$thistle: #BEB2D4;
$blue: #C3E8E2;
$tan: #FFFED8;
$champagne: #EDCC99;
$lightorange: #DB995A;
$orange: #DA7635;
$flame: #E24E1B;
$rust: #A44829;
$brown: #654236;
$smoke: #1B110E;

$transition-time: 0.2s;
$default-padding: 3vw;

.bold-App {
  height: 100vh;
  font-family: "Kanit", sans-serif;
}

.bold-App-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $default-padding;
}

.bold-Section-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $default-padding;
  height: 500vh;
}
.bold-Section-title-text {
  font-size: 6vw;
  color: $smoke;
  transition: 0.5s;
  font-weight: 800;
}
.bold-Section-subtext {
  font-size: 1vw;
  width: 25vw;
  height: 200vh;
  padding-top: 12vw;
}

.scroll-anchor{
  scroll-snap-align: end;
}
.scroll-anchor-start{
  scroll-snap-align: start;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: $default-padding;
}

.bold-App-header-text {
  font-size: 7vw;
  color: $smoke;
  transition: 0.5s;
  font-weight: 800;
}

.bold-blurb {
  padding: $default-padding;
  font-size: 3vw;
  font-weight: 100;
  height: 90vh;
}

.bold-links {
  padding: 1vh;
}

.bold-App-link {
  color: $brown;
  margin-left: 1vw;
  font-size: 2vw;
  cursor: pointer;
  transition: $transition-time;
  text-decoration: none;
}
.bold-App-link:hover {
  color: $flame
}

.scroll-container{
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Chrome, Safari and Opera */
.scroll-container::-webkit-scrollbar {
  display: none;
}

.text-white{
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.bg-thistle {
  background-color: $thistle;
}
.bg-blue {
  background-color: $blue;
}
.bg-tan {
  background-color: $tan;
}
.bg-champagne {
  background-color: $champagne;
}
.bg-lightorange {
  background-color: $lightorange;
}
.bg-orange {
  background-color: $orange;
}
.bg-flame {
  background-color: $flame;
}
.bg-rust {
  background-color: $rust;
}
.bg-brown {
  background-color: $brown;
}
.bg-smoke {
  background-color: $smoke;
}