$light-bkg: #e0e0e0;
$light-box: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
$light-box-mobile: 5px 2px 20px #bebebe, -20px -20px 60px #ffffff;

$pink-text: #f08080;
$green-text: #106060;
$grey-text: #808080;

$transition-time: 0.2s;

.neu-App-link {
  color: $green-text;
  cursor: pointer;
  transition: $transition-time;
  text-decoration: none;
}

.neu-App-link:hover {
  color: $pink-text
}

.neu-App {
  height: 100% !important;
  background: $light-bkg;
}

.neu-Font-Bold {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
}

.neu-Font-Thin {
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

.neu-App-header {
  background-color: #1f2229;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow: visible;
  z-index: 1;
  height: 75px;
}

.neu-Gradient-bkg {
  color: $light-bkg;
  background: $light-bkg;
  box-shadow: $light-box;
  // background: linear-gradient(
  //   112deg,
  //   #0d0d2a 0%,
  //   #35355b 45%,
  //   #9e9ec2 56%,
  //   #cecee2 60%,
  //   #9e9ec2 64%,
  //   #35355b 75%,
  //   #0d0d2a 100%
  // );
  // -webkit-animation: Gradient 25s ease infinite;
  // -moz-animation: Gradient 25s ease infinite;
  // animation: Gradient 25s ease infinite;
}

.neu-App-header::after {
  content: "";
  width: 100%;
  height: 200%;
  position: absolute;
  background: inherit;
  z-index: -51;
  bottom: 0;
  transform-origin: right bottom;
  transform: skewY(-3deg);
}

.neu-App-header-content {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 4.5em;
  padding: 0rem 5rem;
  width: calc(100% - 10rem);
  align-items: initial;
}

.neu-App-header-text {
  margin: 2rem 0 0 0;
  font-size: 5rem;
  mix-blend-mode: difference;
  opacity: 90%;
  color: $pink-text;
  transition: 0.5s;
}

// .neu-App-header-text:hover {
//   color: $green-text;
//   cursor: pointer;
// }


.neu-App-header-menu{
  margin: 0px;
  display: flex;
  color: $green-text;
  transform-origin: right bottom;
  transform: skewY(-3deg);
  font-size: large;
  font-weight: 600;
}
.neu-App-header-menu .neu-App-link{
  height: 25px;
  margin: 10px;
}

.neu-App-header-subtext {
  margin: 0px;
  position: relative;
  top: 7rem;
  right: 3rem;
  text-align: right;
  color: black;
  font-size: xx-large;
  font-weight: 400;
}
.neu-Section-header-text {
  color: $green-text;
  font-size: xx-large;
  font-weight: 800;
  margin: 0px;
}
.neu-Section-header {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.neu-App-body {
  height: calc(100vh - 75px);
  overflow-y: scroll;
  padding: 0 3rem;
}
.neu-App-body-scrollable {
  background: $light-bkg;
  // height: 100vh;
}


.neu-Body-spacer {
  height: 5rem;
}

.neu-Custom-list{
  list-style-type: circle;
  padding-inline-start: 25px;
}

.neu-Custom-list li{
  margin-bottom: 10px;
  font-size: smaller;
}

.neu-Spline-styling canvas {
  width: 50px !important;
  height: 50px !important;
}

.neu-Info-card {
  font-size: large;
  font-weight: 400;
  text-align: justify;
  padding: 1rem;
  margin: 0rem 1rem 2rem 1rem;
  color: black;
  //background: rgba(255, 255, 255, 0.192);
  border-radius: 1rem;
  min-height: 1rem;
  //border: .neu-25rem solid rgba(255, 255, 255, 0.698);
  //box-shadow: inset 00px 00px 1rem white;
  background: $light-bkg;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.neu-Info-card-header {
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: large
}

.neu-Clickable {
  cursor: pointer;
}

.neu-Clickable:hover div, .neu-Clickable:hover div .neu-Info-icon  {
  color: $pink-text;
  transition: $transition-time;
}


.neu-icon  {
  padding-right: 10px;
  color: $pink-text;
}

.neu-Img-Artwork {
  width: 100%; 
  border-radius: 1rem
}

.neu-Info-icon {
  transform: rotate(0deg);
}

.neu-Info-icon.neu-open {
  transform: rotate(180deg);
}

.neu-Info-card-body{
  max-height: 1000px;
  transition: max-height 0.5s ease-out;
}

.neu-Info-card-body.neu-collapsed {
  max-height: 0px;
  overflow: hidden;
}

.neu-Info-icon {
  color: $grey-text;
}

.neu-Info-border {
  border-bottom: 1px solid lightgray;
}

.neu-Info-card-header-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: $green-text;
}
.neu-Info-card-header-subtitle {
  width: 100%;
  color: $grey-text;
  font-size: small;
}

.neu-Flex-column {
  flex: 33%;
  max-width: 33%;
}
.neu-Flex-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.neu-Resume-blurb {
  margin: 2rem;
  font-weight: 800;
  color: $green-text;
  font-size: xx-large
}

@media only screen and (max-width: 1500px) {
  .neu-Flex-column {
    flex: 50%;
    max-width: 50%;
  }
  .neu-Resume-blurb {
    margin: 0rem 2rem;
    font-weight: 800;
    color: $green-text;
    font-size: large
  }
}

@media only screen and (max-width: 1000px) {
  .neu-Flex-column {
    flex: 100%;
    max-width: 100%;
  }
  
  .neu-App-header-content {
    margin: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 2rem;
    padding: 0rem 2rem;
    width: calc(100% - 4rem);
    align-items: initial;
  }

  .neu-App-header-menu .neu-App-link {
    margin: -10px 5px 0 0;
  }

  .neu-App-header-text {
    margin: 0;
    font-size: 2rem;
    top: 4rem;
    left: 4rem;
  }

  .neu-App-header {
    height: 30px
  }
  
  .neu-App-body {
    height: calc(100vh - 30px);
    padding: 0;
  }

  .neu-App-header-subtext {
    display: none;
  }

  .neu-Body-spacer {
    height: 6rem;
  }

  .neu-Flex-row {
    padding-bottom: 20px;
  }

  .neu-Gradient-bkg {
    box-shadow: $light-box-mobile;
  }

  .neu-Info-card-header-title {
    flex-direction: column;
  }
  .neu-Info-card-header-title div:last-child {
    width: 100%;
    color: $grey-text;
    font-size: small;
  }
  
  .neu-Spline-styling canvas {
    width: 50px !important;
    height: 50px !important;
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
